.title {
    color: blue;
    align-items:center
  }
  
.container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
   
  }
  
.item {
    width: 200px;
    height: 100px;
    margin: 10px;
  
}
  
.colorOne {
    background-color: darkgray;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.colorTwo {
    background-color: whitesmoke;
    width: 20%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: column;
    flex-direction: column;
    
  
  
}
  
.colorThree {
    background-color: lightgray;
    width: 76%;
    
}

