body {
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    }
h2{
    color: black;
    
}

nav{
    color: black;
    
}

table{
    color: black;
    
}

th{
    background-color:#4CAF50;
    color: white     ;
     
}

td{
    text-align: center;
    
}