.title {
    color: red;
    align-items:center
  }
  
  .container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .item {
    width: 200px;
    height: 100px;
    margin: 10px;
  
  }
  
  .colorRed {
    background-color: darkgray;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .colorBlue {
    background-color: gainsboro;
    width: auto;
    max-width: 28%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: column;
    flex-direction: column;
    
    
  
  
  }
  
  .colorGreen {
    background-color: rgb(241, 240, 240);
    width: auto;
    max-width: 62%;
    height: auto;
    overflow: hidden;
    
    
    
  
  }
h1 {
  font-size: 20;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bold;
    font-display: Impact;

}
h3 {
  font-size: 10;
  font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-display: Arial;
}

body {
 background: lightgray;

}

.nav_icon {

  height: 50px;
  width: 50px;
}

.nav_icons {

  height: 80px;
  width: 80px;
}

.ars {
  display: block;
  padding: 1rem;
  background-color: orange;
  border-radius: 10px;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  text-align: center;
  text-decoration: none;
  transition: 0.2%;
  width: 90%;
  }

  .ars:hover{

transition: 1s;
border-color: darkred;
border-width: 10px;
color: red;
background-color: gray;
  }